In [2]:
import numpy as np
import pandas as pd

In [ ]:
#loading dataset from outside not part of the anaconda notebook
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

In [ ]:
#loading dataset locaaly usinf pandas
data=pd.read_csv(r"C:\Users\hp\Downloads\Crime against women 2019.csv",encoding="ISO-8859-1")

In [3]:
#series- mapping of the variabls(dictionary in python functionality)
data=[10,20,30]
labels=['a','b','c']
pd.Series(data,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
s1=pd.Series([1,2,3],['USA','germany','russia'])
s1

USA        1
germany    2
russia     3
dtype: int64

In [7]:
#dataframes
from numpy.random import randn
np.random.seed(100)

In [8]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [9]:
df

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [11]:
df['W']  #type(df['W']), alwaysuse this
df[['W','Z']]  # multiple columns

          W         Z
A -1.749765 -0.252436
B  0.981321 -1.070043
C -0.189496  0.435163
D -0.583595 -0.104411
E -0.531280 -1.118318

In [12]:
df['new']=df['W']+ df['Y']
df

          W         X         Y         Z       new
A -1.749765  0.342680  1.153036 -0.252436 -0.596730
B  0.981321  0.514219  0.221180 -1.070043  1.202500
C -0.189496  0.255001 -0.458027  0.435163 -0.647523
D -0.583595  0.816847  0.672721 -0.104411  0.089126
E -0.531280  1.029733 -0.438136 -1.118318 -0.969416

In [13]:
df.drop('new',axis=1)

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [15]:
df.drop('new',axis=1,inplace=True)#deleting rows permanently
df                         #axis=0--> horizontal, axis=1 ---> vertical

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [16]:
#rows
df.loc['A']# display rows

W   -1.749765
X    0.342680
Y    1.153036
Z   -0.252436
Name: A, dtype: float64

In [17]:
df.iloc[2] # display rows using numerical value

W   -0.189496
X    0.255001
Y   -0.458027
Z    0.435163
Name: C, dtype: float64

In [18]:
df.loc['B','Y'] #accessing the elements
                #df.loc[['b','a'],['w','y']]

0.22117966922140045

In [20]:
b= df> 0
df[b]  #df[df>0]

          W         X         Y         Z
A       NaN  0.342680  1.153036       NaN
B  0.981321  0.514219  0.221180       NaN
C       NaN  0.255001       NaN  0.435163
D       NaN  0.816847  0.672721       NaN
E       NaN  1.029733       NaN       NaN

In [21]:
df[df['W']>0]

          W         X        Y         Z
B  0.981321  0.514219  0.22118 -1.070043

In [26]:
df[df['W']>0][['X','Y']]

          X        Y
B  0.514219  0.22118

In [27]:
df[(df['W']>0) & (df['Y']>1)]# multiple conditions

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [28]:
df.reset_index()

  index         W         X         Y         Z
0     A -1.749765  0.342680  1.153036 -0.252436
1     B  0.981321  0.514219  0.221180 -1.070043
2     C -0.189496  0.255001 -0.458027  0.435163
3     D -0.583595  0.816847  0.672721 -0.104411
4     E -0.531280  1.029733 -0.438136 -1.118318

In [32]:
newind='CA NY CAL OR LA'.split()
newind

['CA', 'NY', 'CAL', 'OR', 'LA']

In [34]:
df['state']=newind # adding colums
df

          W         X         Y         Z state
A -1.749765  0.342680  1.153036 -0.252436    CA
B  0.981321  0.514219  0.221180 -1.070043    NY
C -0.189496  0.255001 -0.458027  0.435163   CAL
D -0.583595  0.816847  0.672721 -0.104411    OR
E -0.531280  1.029733 -0.438136 -1.118318    LA

In [36]:
df.set_index('state')

              W         X         Y         Z
state
CA    -1.749765  0.342680  1.153036 -0.252436
NY     0.981321  0.514219  0.221180 -1.070043
CAL   -0.189496  0.255001 -0.458027  0.435163
OR    -0.583595  0.816847  0.672721 -0.104411
LA    -0.531280  1.029733 -0.438136 -1.118318

In [45]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hindex=list(zip(outside,inside))
hindex=pd.MultiIndex.from_tuples(hindex)
hindex

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [47]:
df=pd.DataFrame(randn(6,2),hindex,['A','B'])
df

             A         B
G1 1 -0.862227  1.249470
   2 -0.079611 -0.889731
   3 -0.881798  0.018639
G2 1  0.237845  0.013549
   2 -1.635529 -1.044210
   3  0.613039  0.736205

In [48]:
df.loc['G1'].loc[1]

A   -0.862227
B    1.249470
Name: 1, dtype: float64

In [49]:
df.index.names=['groups','num']
df

                   A         B
groups num
G1     1   -0.862227  1.249470
       2   -0.079611 -0.889731
       3   -0.881798  0.018639
G2     1    0.237845  0.013549
       2   -1.635529 -1.044210
       3    0.613039  0.736205

In [50]:
df.loc['G2'].loc[2]['B']

-1.044209877709317

In [51]:
df.xs('G1')  #cross-section method

            A         B
num
1   -0.862227  1.249470
2   -0.079611 -0.889731
3   -0.881798  0.018639

In [52]:
df.xs(1,level='num')

               A         B
groups
G1     -0.862227  1.249470
G2      0.237845  0.013549

In [55]:
#input and output
df= pd.read_csv('name_of_csvfile')

In [ ]:
df.to_csv('myoutput',index=False)

In [ ]:
pd.read_excel('myfile.xlsx',sheetname='sheet1')

In [ ]:
df.to_excel('newfile.xslx',sheet_name='sheet1')

In [ ]:
data=pd.read_html('html_link')

In [56]:
from sqlalchemy import create_engine

In [ ]:
engine=create_engine('sqlite:///:memory')

In [ ]:
df.to_sql('my_table',engine)

In [ ]:
sqldf=pd.read_sql('my_table',con=engine)

In [ ]:
sqldf

In [ ]:
#visualization using pandas
importseaborn as sns
%matplotlib

In [ ]:
df1=pd.read_csv('df1',index_col=0)

In [ ]:
df1.head()

In [ ]:
df1['A'].hist(bins=30)# creates in histogram
df1['A'].plot(kind='hist',bins=30)

In [ ]:
df1.plot.area(alpha=0.4)  #transparency(opaqueness)
df1.plot.bar(stacked=True)

In [ ]:
list_of_crimes=data['Column name'].to_list()# convert column to list

In [ ]:
list_of_crimes=data.groupby('column name') #gkk = df.groupby(['Team', 'Position'])
list_of_crimes.first()

In [3]:
df = pd.DataFrame([[np.nan, 200, np.nan, 330],
                     [553, 734, np.nan, 183],
                     [np.nan, np.nan, np.nan, 675],
                     [np.nan, 3]],
                    columns=list('abcd'))
print(df)

# Now trying to fill the NaN values with zeros.
print("\n")
print(df.fillna(0))

       a      b   c      d
0    NaN  200.0 NaN  330.0
1  553.0  734.0 NaN  183.0
2    NaN    NaN NaN  675.0
3    NaN    3.0 NaN    NaN


       a      b    c      d
0    0.0  200.0  0.0  330.0
1  553.0  734.0  0.0  183.0
2    0.0    0.0  0.0  675.0
3    0.0    3.0  0.0    0.0